@model MariosPizzerias.Web.ViewModels.OrderPageViewModel

@Html.ActionLink("Create Your Order", "Create", "Order")
<div>
    <table class="table table-bordered">
			<th>Order Number</th>
			<th>Store Name</th>
			<th>Phone Number</th>
			<th>Total Price</th>
			<th>Time Ordered</th>
        @foreach (var order in Model.Orders)
        {
            <tr>
				<td>@order.OrderId</td>
				<td></td>
            	<td>@order.OrderOwner</td>
				<td>@order.OrderPrice</td>
				<td>@order.OrderTime</td>
				<td>@Html.ActionLink("View Order", "Tracker", "Order", new { id = @order.OrderId })</td>
			</tr>
		}
    </table>
</div>